In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('goemotions_1.csv')
df2 = pd.read_csv('goemotions_2.csv')
df3 = pd.read_csv('goemotions_3.csv')

In [7]:
df = df1.append(df2).reset_index()
df = df.append(df3)

In [8]:
df.tail()

,index,text,id,author,subreddit,link_id,parent_id,created_utc,rater_id,example_very_unclear,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
139995,69995,I would cheer hard for a Cyborg win in that to...,eczbpfi,topforthis,MMA,t3_ab689g,t1_ecxtwqy,1.546301e+09,49,False,...,1,0,0,0,0,0,0,0,0,0
139996,69996,"That's scalie, loli, and gmilf at the same time",eerd9bz,Antimoney,furry_irl,t3_aiv4iy,t1_eer7ue2,1.548243e+09,40,False,...,0,0,0,0,0,0,0,0,0,1
139997,69997,I have the worst memory ever. Idk if it's from...,efev9va,maddiokii,depression,t3_al9tkd,t3_al9tkd,1.548905e+09,51,False,...,0,0,0,0,0,0,0,0,0,0
139998,69998,So angry. PMS?,ee4sic2,PhillyGreg,Connecticut,t3_ag1kvx,t1_ee3mkp1,1.547573e+09,49,False,...,0,0,0,0,0,0,0,0,0,0
139999,69999,"I mean, you can definitely beat someone up pas...",eeij0ow,tb_Crunch,unpopularopinion,t3_ahvr4j,t1_eeiiwk2,1.547974e+09,51,False,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df.head()

,text,id,author,subreddit,link_id,parent_id,created_utc,rater_id,example_very_unclear,admiration,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
0,That game hurt.,eew5j0j,Brdd9,nrl,t3_ajis4z,t1_eew18eq,1.548381e+09,1,False,0,...,0,0,0,0,0,0,0,1,0,0
1,>sexuality shouldn’t be a grouping category I...,eemcysk,TheGreen888,unpopularopinion,t3_ai4q37,t3_ai4q37,1.548084e+09,37,True,0,...,0,0,0,0,0,0,0,0,0,0
2,"You do right, if you don't care then fuck 'em!",ed2mah1,Labalool,confessions,t3_abru74,t1_ed2m7g7,1.546428e+09,37,False,0,...,0,0,0,0,0,0,0,0,0,1
3,Man I love reddit.,eeibobj,MrsRobertshaw,facepalm,t3_ahulml,t3_ahulml,1.547965e+09,18,False,0,...,1,0,0,0,0,0,0,0,0,0
4,"[NAME] was nowhere near them, he was by the Fa...",eda6yn6,American_Fascist713,starwarsspeculation,t3_ackt2f,t1_eda65q2,1.546669e+09,2,False,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
len(df)

70000

In [5]:
df.columns

Index(['text', 'id', 'author', 'subreddit', 'link_id', 'parent_id',
       'created_utc', 'rater_id', 'example_very_unclear', 'admiration',
       'amusement', 'anger', 'annoyance', 'approval', 'caring', 'confusion',
       'curiosity', 'desire', 'disappointment', 'disapproval', 'disgust',
       'embarrassment', 'excitement', 'fear', 'gratitude', 'grief', 'joy',
       'love', 'nervousness', 'optimism', 'pride', 'realization', 'relief',
       'remorse', 'sadness', 'surprise', 'neutral'],
      dtype='object')

In [8]:
counts = df.groupby('id').count()

In [9]:
counts.head()

,text,author,subreddit,link_id,parent_id,created_utc,rater_id,example_very_unclear,admiration,amusement,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
id,,,,,,,,,,,,,,,,,,,,,
eczazk6,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
eczb07q,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
eczb4bm,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
eczb527,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
eczb6r7,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [10]:
df[df['id']=='eczb6r7']

,text,id,author,subreddit,link_id,parent_id,created_utc,rater_id,example_very_unclear,admiration,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
5115,Emotes have a ridiculous amount of effort put ...,eczb6r7,Reggiardito,Blackops4,t3_abasbo,t1_ecz9n7h,1.546301e+09,33,False,0,...,0,0,0,0,0,0,0,0,0,1
59925,Emotes have a ridiculous amount of effort put ...,eczb6r7,Reggiardito,Blackops4,t3_abasbo,t1_ecz9n7h,1.546301e+09,12,False,0,...,0,0,0,0,0,0,0,1,0,0